$ds-min-app-size: 700px;

$ds-break-point--M: 1600px;
$ds-break-point--S: 1200px;

$ds-app-right-and-left-padding--L: 128px;
$ds-app-right-and-left-padding--M: 64px;
$ds-app-right-and-left-padding--S: 64px;

$ds-app-radius: 8px;

$ds-padding--S: 8px;
$ds-padding--M: 16px;
$ds-padding--L: 24px;
$ds-padding--XL: 32px;

$ds-typography--S: 14px;
$ds-typography--M: 16px;
$ds-typography--L: 18px;

$ds-content-size--L: 1600px;
$ds-content-size--M: 1200px;
$ds-content-size--S: 800px;
$ds-content-size--XS: 700px;
